.swal-custom-popup {
  border-radius: 16px !important;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.swal-custom-title {
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #222428;
}

.swal-custom-confirm {
  font-weight: bold !important;
  padding: 8px 20px !important;
  border-radius: 8px !important;
  background-color: #222428 !important;
  color: #ffffff !important;
}

.swal-custom-cancel {
  font-weight: bold !important;
  padding: 8px 20px !important;
  border-radius: 8px !important;
  background-color: #888 !important;
  color: #fff !important;
}
