<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <a [routerLink]="['/inicio']" class="logo" style="color: inherit; text-decoration: none;">Lavadero Luxury</a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registrarse']" fill="outline" color="light">
        Registrarse
      </ion-button>
      <ion-button [routerLink]="['/inicio-sesion']" color="light">
        Iniciar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
